<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooperq.yat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Allows access to the flashlight -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:protectionLevel="normal" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cooperq.flasher.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.cooperq.flasher.FlasherWidgetProvider"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/flasher_widget_info" />
        </receiver>
        <receiver android:name="com.cooperq.flasher.FlasherWidgetReceiver" >
            <intent-filter>
                <action android:name="COM_FLASHLIGHT" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.cooperq.flasher.OnScreenTorchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_on_screen_torch"
            android:parentActivityName="com.cooperq.flasher.MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cooperq.flasher.MainActivity" />
        </activity>
    </application>

</manifest>